
body {
    background: #90C8DB;
    font-family: 'Titillium Web', sans-serif;
}

/* estilo para el div del formulario */
.form {
  background: #5F818C;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  
}

/* estilo para el div formulario */
.box input{
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #81AFBE;
  padding: 14px 10px;
  width: 350px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

/* transformacion en los campos del formulario */
.box input:focus{
  width: 400px;
  border-color: #81AFBE;
}

/* estilo de los campos del formulario */
input {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color .25s ease, box-shadow .25s ease;
}

/* estilo para el botón */
.button {
  border: 0;
  outline: none;
  border-radius: 2px;
  padding: 15px;
  font-size: 1rem;
  background: #81AFBE;
  color: #ffffff;
  transition: all 0.5s ease;
}

/* caracteristicas para el bloque de los botones */
.button-block {
  color: #ffffff;
  text-align: center;
}

/* solo para el botón de recuperar contraseña */
.pass-recovery{
  margin-left: 5%;
  text-decoration: underline solid white;
}

/* tamaño del encabezado */
.header-login {
  font-size: xx-large;
}

/* estilo para header 1 */
h1 {
  color: #f1e6e6;
  font-weight: 900;
  margin: 0 0 40px;
}

/* estilo para header 2 */
h2 {
  color: #f1e6e6;
  font-weight: 600;
  margin: 0 0 40px;
}

/* estilo para login mesa */
#login_message {
  color: #f1e6e6;
}

/* estilo para recuperar contraseña */
#message_response {
  color: #f1e6e6;
} 
::placeholder { color: white; }